.info-table,
.annual-table {
    table {
        margin-bottom: 40px;
        margin-top: 10px;

        width: 100%;

        /* 下線をつなげる */
        border-collapse: collapse;
    }

    th,
    td {
        border-bottom: #000 solid 1px;
        padding: 0.5em;
    }

    th {
        padding: 1em 0.5em;

        text-align: center;
    }
}
/* Q & Aとか */
.title {
    padding: 0.5em;
    text-align: center;
}

/* Q & A */
.info-table th {
    width: 30%;
}

.info-table td {
    text-align: left;
}

/* annual */
.annual-table th {
    width: 20%;
}

.annual-table td {
    text-align: left;
}

/* 月だけ */
.annual-table td:nth-child(even) {
    width: 20%;
    text-align: center;
}

.google-map {
    width: 100%;
    aspect-ratio: 1;
}

/*スマホ版*/
@media screen and (max-width: 768px) {
    tbody {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .info-table,
    .annual-table {
        th,
        td {
            width: 100% !important;
            padding: 0.5em;
            margin: 0;
            display: block;
        }

        th {
            width: 100%;
            margin: 0;
        }

        td {
            border: none;
        }
    }

    /* 月だけ */
    .annual-table td:nth-child(even) {
        border: none;
    }
}
