[class^="icon-"]::before {
    content: ""; /* アイコンを挿入するためのコンテンツ */
    display: inline-block;
    width: 1em; /* アイコンの幅 */
    height: 1em; /* アイコンの高さ */
    margin-right: 0.5em; /* テキストとのスペース */
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; /* アイコンをテキスト中央に揃える */
}

.icon-top::before {
    background-image: url("image/icon/スタンダードな家アイコン.svg");
}

.icon-work::before {
    background-image: url("image/icon/ゲームの無料アイコン.svg");
}

.icon-computer::before {
    background-image: url("image/icon/ディスプレイのアイコン素材\ 3.svg");
}

.icon-blog::before {
    background-image: url("image/icon/鉛筆の無料アイコン7.svg");
}

.icon-info::before {
    background-image: url("image/icon/インフォメーションアイコン4.svg");
}

.icon-mail::before {
    background-image: url("image/icon/メールの無料アイコン.svg");
}

.icon-twitter::before {
    background-image: url("image/icon/twitterのアイコン素材\ その2.svg");
}

.icon-picture::before {
    background-image: url("image/icon/辞書アイコン1.svg");
}

.icon-member::before {
    background-image: url("image/icon/人物アイコン\　チーム.svg");
}

.icon-link::before {
    background-image: url("image/icon/リンクのフリーアイコン5.svg");
}

.icon-diary::before {
    background-image: url("image/icon/辞書アイコン1.svg");
}
