/* アイコン用のフォント */
@font-face {
    font-family: "fontello";
    src: url("fontello.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;

    line-height: 1em;

    margin-left: 0.2em;

    margin-right: 0.4em;
}

.icon-top:before {
    content: "\e808";
}

/* '' */
.icon-work:before {
    content: "\e802";
}

/* '' */
.icon-computer:before {
    content: "\e803";
}

/* '' */
.icon-blog:before {
    content: "\e805";
}

/* '' */
.icon-info:before {
    content: "\e801";
}

/* '' */
.icon-mail:before {
    content: "\e807";
}

/* '' */
.icon-twitter:before {
    content: "\e806";
}

/* '' */
.icon-picture:before {
    content: "\e807";
}

/* '' */
.icon-member:before {
    content: "\e800";
}

/* '' */
.icon-member-only:before {
    content: "\e80a";
}

/* '' */
.icon-link:before {
    content: "\e804";
}

/* '' */
