/*--一般--*/
body {
    background-image: url("image/bg13.png");
    background-repeat: repeat;
    background-color: #94c286;

    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic",
        sans-serif;
    line-height: 150%;
    font-size: 10.5pt;
    letter-spacing: 0.8pt;

    padding: 0 5%;
}

h2,
h3 {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 160%;
}

h3 {
    border-bottom: 1px solid #000;
    margin-bottom: 0.5em;
    font-size: 150%;
    line-height: 150%;
}

::selection {
    background: #6bc8a9;
    color: #fff;
}

/*---------------------------
-------基本のレイアウト------
----------------------------*/
#container {
    width: 950px;
    background-color: #fff;
    margin: 10px auto 10px auto;
    /* background: #fff; */
    background-image: url("image/noise3.png");
    /* border-bottom: #ddd 1px solid; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#contentsLeft {
    width: 130px;
    float: left;
    padding: 20px 0px 20px 20px;

    user-select: none;
}

#contentsRight {
    /*position relativeするとモーダルウィンドウがずれる*/
    width: 720px;
    float: right;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 100px;
}

#footer {
    color: #000;
    width: 950;
    padding: 20px;
    height: 100px;
    background: #666;
    clear: both;
    text-align: center;
    background-image: url("image/noise.png");
}

/* タイトルロゴ */
#title {
    background-image: linear-gradient(#33b88a, #1bb180);
    padding: 10px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.3);
    display: inline-block;

    text-align-last: justify;
    color: #fff;

    text-decoration: none;
}

#mcr {
    color: #000;
    font-size: 3em;
    padding-top: 10px;
    text-align-last: center;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*メニュー*/
#globalnavi {
    margin-bottom: 2em;
    text-align: left;

    ul {
        font-family: "Raleway", sans-serif;
        padding-left: 0;
        list-style-type: none;
        margin-left: 0px;
        font-size: 130%;
    }

    li {
        list-style-type: none;
        margin-bottom: 20px;
    }
}

#globalnavi a,
#globalnabi a:visited {
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 140px;
    padding: 0.2em 5px;
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.3s, border 0.3s;
    -moz-transition: color 0.3s, border 0.3s;
    -ms-transition: color 0.3s, border 0.3s;
    -o-transition: color 0.3s, border 0.3s;
    transition: color 0.3s, border 0.3s;
    border-left: 1px solid #333;
    padding-left: 0.5em;
}

#globalnavi a:hover,
#globalnabi a:active {
    color: #cc0000;
    border-left: 1px solid #cc0000;
    background: none;
}

#subMenu {
    margin-top: 3em;
}

/*---------------------------
-------footerの中身------
----------------------------*/
address {
    font-style: normal;
}

.counter {
    margin-left: 15px;
}

/* スマホ用 */
@media screen and (max-width: 768px) {
    html,
    body {
        padding: 0;
        margin: 0;
    }

    #container {
        width: 100%;
        margin: 0;
    }
    #contentsLeft {
        display: none;
    }
    #contentsRight {
        width: 80%;
        padding: 10%;
        margin: 0;
        margin-top: 20px;
    }
}
