[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    margin-right: 0.4em;
}

.icon-top:before {
    content: "\e804";
}

/* '' */
.icon-work:before {
    content: "\e808";
}

/* '' */
.icon-computer:before {
    content: "\e806";
}

/* '' */
.icon-blog:before {
    content: "\e802";
}

/* '' */
.icon-info:before {
    content: "\e805";
}

/* '' */
.icon-mail:before {
    content: "\e803";
}

/* '' */
.icon-twitter:before {
    content: "\e800";
}

/* '' */
.icon-picture:before {
    content: "\e807";
}

/* '' */
.icon-member:before {
    content: "\e801";
}

/* '' */
.icon-member-only:before {
    content: "\e80a";
}

/* '' */
.icon-link:before {
    content: "\e809";
}

/* '' */

/*--一般--*/
body {
    background-image: url("image/bg13.png");
    background-repeat: repeat;
    background-color: #94c286;

    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic",
        sans-serif;
    line-height: 150%;
    font-size: 10.5pt;
    letter-spacing: 0.8pt;

    padding: 0 5%;
}

h2,
h3 {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}

h3 {
    border-bottom: 1px solid #000;
    margin-bottom: 0.5em;
    font-size: 150%;
    line-height: 150%;
}

/*---------------------------
-------基本のレイアウト------
----------------------------*/
#container {
    width: 950px;
    background-color: #fff;
    margin: 10px auto 10px auto;
    /* background: #fff; */
    background-image: url("image/noise3.png");
    /* border-bottom: #ddd 1px solid; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#contentsLeft {
    width: 130px;
    float: left;
    padding: 20px 0px 20px 20px;
}

#contentsRight {
    /*position relativeするとモーダルウィンドウがずれる*/
    width: 720px;
    float: right;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 100px;
}

#footer {
    color: #000;
    width: 950;
    padding: 20px;
    height: 100px;
    background: #666;
    clear: both;
    text-align: center;
    background-image: url("image/noise.png");
}

/* タイトルロゴ */
#title {
    background-image: linear-gradient(#33b88a, #1bb180);
    padding: 10px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.3);
    display: inline-block;

    text-align-last: justify;
    color: #fff;

    text-decoration: none;
}

#mcr {
    color: #000;
    font-size: 3em;
    padding-top: 10px;
    text-align-last: center;
}

/*メニュー*/
#globalnavi {
    margin-bottom: 2em;
    text-align: left;
}

#globalnavi ul {
    font-family: "Raleway", sans-serif;
    padding-left: 0;
    list-style-type: none;
    margin-left: 0px;
    font-size: 130%;
}

#globalnavi li {
    list-style-type: none;
    margin-bottom: 20px;
}

#globalnavi a,
#globalnabi a:visited {
    text-decoration: none;
    display: block;
    width: 140px;
    padding: 0.2em 5px;
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.3s, border 0.3s;
    -moz-transition: color 0.3s, border 0.3s;
    -ms-transition: color 0.3s, border 0.3s;
    -o-transition: color 0.3s, border 0.3s;
    transition: color 0.3s, border 0.3s;
    border-left: 1px solid #333;
    padding-left: 0.5em;
}

#globalnavi a:hover,
#globalnabi a:active {
    color: #cc0000;
    border-left: 1px solid #cc0000;
    background: none;
}

#subMenu {
    margin-top: 3em;
}

/*------------------------------------
モバイル用
-------------------------------------*/
#nav-top-link {
    display: none;
}

/*---------------------------
-------footerの中身------
----------------------------*/
address {
    font-style: normal;
}

.counter {
    margin-left: 15px;
}
