@charset "utf-8";

/*------------------------アイコンフォント*/
/* @font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?17811474');
    src: url('font/fontello.eot?17811474#iefix') format('embedded-opentype'),
        url('font/fontello.woff?17811474') format('woff'),
        url('font/fontello.ttf?17811474') format('truetype'),
        url('font/fontello.svg?17811474#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
} */

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('font/fontello.svg?17811474#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    margin-right: .4em;
}

.icon-top:before {
    content: '\e804';
}

/* '' */
.icon-work:before {
    content: '\e808';
}

/* '' */
.icon-computer:before {
    content: '\e806';
}

/* '' */
.icon-blog:before {
    content: '\e802';
}

/* '' */
.icon-info:before {
    content: '\e805';
}

/* '' */
.icon-mail:before {
    content: '\e803';
}

/* '' */
.icon-twitter:before {
    content: '\e800';
}

/* '' */
.icon-picture:before {
    content: '\e807';
}

/* '' */
.icon-member:before {
    content: '\e801';
}

/* '' */
.icon-member-only:before {
    content: '\e80a';
}

/* '' */
.icon-link:before {
    content: '\e809';
}

/* '' */

/*------------------------一般--*/
body {
    background-image: url('image/bg13.png');
    background-repeat: repeat;
    background-color: #94C286;
    color: #000;
    margin: 0 auto;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;
    line-height: 150%;
    font-size: 10.5pt;
    letter-spacing: 0.8pt;
    height: 100%;
}

img {
    border: 0px;
}

::selection {
    background: #6bc8a9;
    color: #fff;
}

::-moz-selection {
    background: #6bc8a9;
    color: #fff;
}

h2,
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

h2 {
    display: block;
    line-height: 180%;
    font-size: 170%;
    color: #000;
    margin: 10px 0 5px 0;
}

h3 {
    border-bottom: 1px solid #000;
    margin-bottom: 0.5em;
    font-size: 150%;
    line-height: 150%;
}

strong {
    color: #cc0000;
}

/*topフッター下のよく分からない隙間を回避（小さくする)
twitterウィジェットにより勝手に追加されてしまうらしい2013/8/22*/
#rufous-sandbox {
    height: 5px;
}

/*---------------------------
-------基本のレイアウト------
----------------------------*/
#container {
    width: 950px;
    background-color: #fff;
    margin: 10px auto 10px auto;
    background: #fff;
    background-image: url("image/noise3.png");
    border-bottom: #DDD 1px solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

#contentsLeft {
    width: 130px;
    float: left;
    padding: 20px 0px 20px 20px;
}

#contentsRight {
    /*position relativeするとモーダルウィンドウがずれる*/
    width: 720px;
    float: right;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 100px;

}

#footer {
    color: #000;
    width: 950;
    padding: 20px;
    height: 100px;
    background: #666;
    clear: both;
    text-align: center;
    background-image: url("image/noise.png");
}

/*---------------------------
-------contentRightの中身------
----------------------------*/

/*--------------------------topとmember--------*/
.box {
    margin-bottom: 2.5em;
}

/*----------------------------------topのみ*/
#topix {
    margin-top: 10px;
    /*height:400px;*/
    width: 365px;
    float: left;
    margin-right: 15px;
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
}

#twitterBox {
    padding-left: 5px;
    padding-top: 20px;
    padding-right: 5px;
    margin-top: 10px;
    height: 400px;
    width: 330px;
    float: left;
}

.imageShadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/*部員専用ページ入口*/
.PasswordForm {
    height: 30px;
}

.PasswordInputField {
    width: 108px;
    margin-right: 5px;
}

.OkButton {
    width: 40px;
}

/*-------------------------------info　2020/02/20　変更*/

table.infoTable {
    border: none;
    border-collapse: collapse;
}

.infoTable th,
.infoTable td {
    border-bottom: #000 solid 1px;
}

.infoTable th {
    text-align: center;
    padding: 16px 10px;
}

.infoTable td {
    text-align: left;
    padding: 0 0 10px 0;
}

/*info スマホ版*/

@media screen and (max-width:480px) {
    .infoTable {
        width: 90%;
    }

    .icon-info {
        text-align: center;
    }

    .infoTable th,
    .infoTable td {
        display: block;
        width: 100%;
    }

    .infoTable th {
        padding: 20px auto;
        border-bottom: none;
    }

    .infoTable td {
        padding: 20px auto;
    }
}

/*


/*-------------------------------annual*/

.annualTable {
    border: none;
    border-collapse: collapse;
}

.annualTable th,
.annualTable td {
    border-bottom: #000 solid 1px;
}

.annualTable th {
    text-align: center;
    padding: 16px 10px;
}

.annualTable td {
    text-align: left;
    padding: 0 0 10px 0;
}

/*月*/
.annualTable td:nth-child(even) {
    text-align: center;
}

.annual_title {
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

/*annual スマホ版*/

@media screen and (max-width:480px) {
    .annualTable {
        width: 90%;
    }

    .icon-info {
        text-align: center;
    }

    .annualTable th,
    .annualTable td {
        display: block;
        width: 100%;
    }

    .annualTable th {
        padding: 20px auto;
        border-bottom: none;
    }

    .annualTable td {
        padding: 20px auto;
    }

    .annualTable td:nth-child(even) {
        border-bottom: none;
    }
}

/*------------------------------info ここまで*/

/*------------------------------workのみ*/
/*2020/03/12 ------------------追加*/
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9500;
    /*1000*/
    display: none;
}

.modal {
    display: none;
    background: #eee;
    padding: 0 20px 20px;
    overflow: auto;
    z-index: 9501;
    /*1001*/
    position: absolute;
    width: 800px;
    min-height: 300px;
}

/* .modal p:hover {
    cursor: pointer;
} */

.closeBtn {
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
    cursor: pointer;
}

s

/*-----------------------------追加ここまで*/
#work h3 {
    clear: both;
    /*font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;*/
}

.workBox {
    width: 150px;
    height: 150px;
    float: left;
    margin: 22px 0px 0px 22px;
    border-radius: 3px;
    border: #ccc solid 1px;
    padding: 3px;
    background: white;
}

.workBox img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "alpha(opacity=60)";
}

.content_wrap {
    clear: left;
    width: 100%;
    margin: 0 0 0 -15px;
}

.workLeft {
    width: 210px;
    margin: 40px 0 10px 0px;
    float: left;
}

#work .modal {
    width: 600px;
}

.workLeft img {
    border: white solid 3px;
}

.workRight {
    width: 370px;
    margin: 20px 0 10px 20px;
    float: left;
}

.workRight h4 {
    font-size: 150%;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;
    font-weight: normal;
    line-height: 200%;
    margin: 10px 0 0 0;
}

.downloadBtn {
    float: left;
    margin-top: 0.5em;
}

.workInfo1 {
    float: left;
    width: 13em;
}

.workInfo2 {
    clear: both;
}

#work dl {
    font-size: 110%;
    line-height: 150%;
    margin-bottom: 1em;
}

#work dt {
    clear: left;
    float: left;
    margin-right: 0.5em;
}

.imageShadow2 {
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

a.downloadBtn {
    /*background: url(image/downloadBtn.png);*/
    background-color: #61A84C;
    width: 152px;
    height: 47px;
    display: block;
    cursor: pointer;
    padding-top: 0px;
    text-align: center;
    font-size: 120%;
    line-height: 47px;
    text-decoration: none;
    color: white;
}

a.downloadBtn:hover {
    /*background-position:left bottom;*/
    background-color: #43862F;
}

/*------------------------------memberのみ*/
table.introTable {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    word-break: break-all;
}

.introTable caption {
    text-align: left;
    line-height: 120%;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.introTable th,
.introTable td {
    border: none;
    text-align: left;
    padding: 5px;
}

.namae {
    width: 8em;
}

.gakubu {
    width: 10em;
}

/*---------------------------computer のみ*/
.specTable {
    width: 100%;
    border-collapse: collapse;
}

.specTable caption {
    border-bottom: solid #000 1px;
    text-align: left;
}

.specTable td,
.specTable th {
    padding: 5px;
    border-bottom: 1px solid #000;
}

.specTable th {
    width: 10em;
}

/*---------------------------linkのみ*/
.linkTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 4em;
}

.linkTable caption {
    border-bottom: solid #000 1px;
    text-align: left;
}

.linkTable td,
.linkTable th {
    padding: 5px;
    border-bottom: 1px solid #000;
}

.linkTable th {
    width: 10em;
    font-weight: normal;
    text-align: left;
}

#jQueryPush {
    cursor: pointer;
}

/*wordsのみ*/
.KeyWord {
    font-weight: bold;
}

/*---------------------------
-------contentLeftの中身------
----------------------------*/
#title {
    color: #fff;
    background-color: #33b88a;
    background-image: -webkit-linear-gradient(#33b88a, #1BB180);
    background-image: -moz-linear-gradient(#33b88a, #1BB180);
    background-image: -o-linear-gradient(#33b88a, #1BB180);
    background-image: -ms-linear-gradient(#33b88a, #1BB180);
    background-image: linear-gradient(#33b88a, #1BB180);
    margin: 0px 0 30px -39px;
    padding: 10px 10px 8px 28px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.3);
    position: relative;
}

#title:after {
    content: ' ';
    position: absolute;
    left: 0px;
    bottom: -18px;
    border-top: 9px solid #5a5a5a;
    border-right: 9px solid #5a5a5a;
    border-bottom: 9px solid transparent;
    border-left: 9px solid transparent;
}

/*-------------------------メニュー*/
#globalnavi {
    margin-bottom: 2em;
    text-align: left;
}

#globalnavi ul {
    font-family: 'Raleway', sans-serif;
    padding-left: 0;
    list-style-type: none;
    margin-left: 0px;
    font-size: 130%;
}


#globalnavi li {
    list-style-type: none;
    margin-bottom: 20px;
}

#globalnavi a,
#globalnabi a:visited {
    text-decoration: none;
    display: block;
    width: 140px;
    padding: 0.2em 5px;
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.3s, border 0.3s;
    -moz-transition: color 0.3s, border 0.3s;
    -ms-transition: color 0.3s, border 0.3s;
    -o-transition: color 0.3s, border 0.3s;
    transition: color 0.3s, border 0.3s;
    border-left: 1px solid #333;
    padding-left: 0.5em;
}

#globalnavi a:hover,
#globalnabi a:active {
    color: #cc0000;
    border-left: 1px solid #cc0000;
    background: none;
}

#subMenu {
    margin-top: 3em;
}

/*---------------------------
-------footerの中身------
----------------------------*/
address {
    font-style: normal;
}

.counter {
    margin-left: 15px;
}


/*--------------------------------------
--フロート解除（クリアーフィックス法）---
----------------------------------------*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-table;
}

/* exclude MacIE5 \*/

* html.clearfix {
    height: 1%;
}

*+html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* end MacIE5 */


/*--------------------------------------
--トップページのスライダー用のＣＳＳ---
----------------------------------------*/

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
    font-family: 'flexslider-icon';
    src: url('font/slider-fonts/flexslider-icon.eot');
    src: url('font/slider-fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
        url('font/slider-fonts/flexslider-icon.woff') format('woff'),
        url('font/slider-fonts/flexslider-icon.ttf') format('truetype'),
        url('font/slider-fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides>li:first-child {
    display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
    margin: 0 0 30px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
    height: 0;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
    left: -50px;
}

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}

.flexslider:hover .flex-prev {
    opacity: 0.7;
    left: 10px;
}

.flexslider:hover .flex-next {
    opacity: 0.7;
    right: 10px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
}

.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    line-height: 1;
    display: inline-block;
    content: '\f001';
}

.flex-direction-nav a.flex-next:before {
    content: '\f002';
}

/* Pause/Play */
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a.flex-play:before {
    content: '\f003';
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    display: inline-block;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}

#slider {
    width: 100%;
    max-height: 690px;
    overflow: hidden;
}





/*------------------------------------
モバイル用
-------------------------------------*/
#nav-top-link {
    display: none;
}

/*-----------------------------
デバイスの横幅が480px以下の場合
-----------------------------*/
@media only screen and (max-width: 480px) {
    #nav-top-link {
        display: block;
    }

    #container {
        width: 100%;
        margin-top: 0;
    }

    #contentsLeft {
        display: none;
    }

    #contentsRight {
        width: 80%;
        padding: 5px 10% 50px 10%;
        margin: 0;
        float: none;
        clear: both;
    }

    #title {
        display: none;
    }

    #footer {
        font-size: 80%;
    }

    #topix {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #twitterBox {
        width: 100%;
        padding: 0;
        margin: 0;
        float: none;
        clear: both;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    .namae {
        width: 4em;
    }

    .gakubu {
        width: 4em;
    }

    .workBox {
        width: 120px;
        height: 120px;
        padding: 0;
        margin: 15px 0 0 15px;
    }

    .workBox img {
        max-width: 100%;
        max-height: 100%;
    }

    .specTable th {
        width: 4em;
    }

    table img {
        max-width: 100%;
    }

    .modal {
        width: 100%;
        padding: 0;
        margin: 0;
        min-height: 100px;
    }

    #work .modal {
        width: 100%;
    }

    .workLeft {
        display: none;
    }

    .workRight {
        display: none;
    }

    img {
        max-width: 100%;
    }

    .modal p,
    .modal table,
    .modal img,
    .modal h2,
    .modal h3 {
        display: none;
    }

    .modal:after {
        content: "※このデバイスでは表示できません";
    }
}