#slideshow-container {
    width: 680px;
    height: 360px;
}

#topics {
    margin-top: 10px;
    /*height:400px;*/
    width: 365px;
    float: left;
    margin-right: 15px;
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
}

#twitter-box {
    padding-left: 5px;
    padding-top: 20px;
    padding-right: 5px;
    margin-top: 10px;
    height: 400px;
    width: 330px;
    float: left;
}

@media screen and (max-width: 768px) {
    #topics {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #twitter-box {
        width: 100%;
        padding: 0;
        margin: auto;
        float: none;
        clear: both;
    }
}
