.links p,
.links a {
    border-bottom: 1px solid #000;
    display: block;

    margin: 10px;
}

.link-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 4em;
}

.link-table caption {
    border-bottom: solid #000 1px;
    text-align: left;
}

.link-table td,
.link-table th {
    padding: 5px;
    border-bottom: 1px solid #000;
}

.link-table th {
    width: 10em;
    font-weight: normal;
    text-align: left;
}

summary {
    cursor: pointer;
}
