.spec-table {
    width: 100%;
    border-collapse: collapse;
}

.spec-table caption {
    border-bottom: solid #000 1px;
    text-align: left;
}

.spec-table td,
.spec-table th {
    padding: 5px;
    border-bottom: 1px solid #000;
}

.spec-table th {
    width: 10em;
}
