table {
    margin-bottom: 40px;
    margin-top: 10px;

    width: 100%;

    /* 下線をつなげる */
    border-collapse: collapse;
}

th,
td {
    border-bottom: #000 solid 1px;
}

th {
    padding: 16px 10px;

    text-align: center;
}

/* Q & Aとか */
.title {
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

/* Q & A */
.info-table th {
    width: 250px;
}

.info-table td {
    text-align: left;
}

/* annual */
.annual-table th {
    width: 150px;
}

.annual-table td {
    text-align: left;
}

/* 月だけ */
.annual-table td:nth-child(even) {
    text-align: center;
    width: 120px;
}

.google-map {
    width: 100%;
    aspect-ratio: 1;
}

/*スマホ版*/
@media screen and (max-width: 768px) {
    th,
    td {
        padding: 5px;
        margin: auto;
        display: block;
    }

    th {
        border: none;
    }

    /* 月だけ */
    .annual-table td:nth-child(even) {
        border: none;
    }
}
