.indent {
    padding-left: 2em;
    border-left: 1px #111 solid;
}

/* p要素を使うとずれる */
.note {
    background-color: #fcfcff;
    background-image: linear-gradient(to bottom, transparent 98%, #00004080 100%);
    background-size: 100% 1.5em; /* 行間の高さに合わせて調整 */

    padding-left: 2em;

    overflow: auto;
}
