.imageFrame {
    width: 31%;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
    background-color: #eee;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.imageFrame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button.imageFrame {
    border: 0;
}

.imageFrame2 {
    width: 600px;
    aspect-ratio: 16 / 9;

    background-color: #eee;

    padding: 5px;

    display: inline-block;

    border-radius: 5px;
}

.imageFrame2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-description {
    display: flex;
}

.game-text {
    margin: 20px;
    font-size: 1.5em;
    line-height: 1.5em;
}

.works {
    text-align: center;
}

/* モーダルウィンドウの背景（非表示時はdisplay: noneで隠す） */
#modal {
    display: none; /* 初期状態は非表示 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 背景を半透明に */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* モーダルコンテンツのスタイル */
#modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 500px;
    max-width: 1200px;
    min-height: 400px;
    position: relative;
}

/* 閉じるボタン */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.download-button {
    text-decoration: none;

    color: #eee;

    padding: 10px 20px;
    background-color: #61a84c;
}

.download-button:hover {
    background-color: #43862f;
}

.square-img {
    aspect-ratio: 1;
}

.square-img2 {
    height: 420px;
    width: 420px;
}

.square-img2 img {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .imageFrame2 {
        display: none;
    }

    .imageFrame {
        width: 48%;
    }
}
