#members {
    display: flex;
    flex-direction: column;
    gap: 2em;

    h3 {
        margin-bottom: 0.5em;
    }
}

.students {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .row {
        display: flex;
        width: 100%;
        gap: 1em;

        padding: 0.5em;
        border-bottom: black dashed 1px;
    }

    .row-head {
        display: flex;
        width: 35%;
        gap: 1em;

        span {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .row-content {
        width: 100%;
        display: flex;

        gap: 1em;
    }

    .course {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    .detail {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .students {
        .row {
            flex-direction: column;
        }

        .row-head {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            gap: 0;
        }

        .row-content {
            flex-direction: column;
            gap: 0;
        }

        .course {
            width: 100%;
        }
    }
}
