.intro-table {
    width: 100%;
    border: none;

    th,
    td {
        border: none;
        text-align: left;
    }

    tr {
        margin-bottom: 1em;

        border-bottom: black 1px dashed;
    }
}

.intro-table caption {
    text-align: left;
    border-bottom: 1px solid black;
    margin-bottom: 0.5em;
}

.job {
    width: 10%;
}

.name {
    width: 15%;
    font-weight: bold;
}

.course {
    width: 20%;
}

.detail {
    width: 55%;
}

@media screen and (max-width: 768px) {
    .name {
        width: auto;
    }

    .detail {
        width: auto;
        border-bottom: #000 1px solid;
    }

    .intro-table th,
    .intro-table td {
        text-align: left;
    }
}
